<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/CSS/styles.css"> 
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Rohit Raj. It uses data from mapbox.com and weatherstack.com!<div class=""></div></p>
        <img class="portrait" src="/img/pic.jpg">
    </div>

    {{>footer}}
</body>

</html>